.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 6px 48px;
}

@media (min-width: 768px) {
  .grid {
    gap: 10px;
    padding: 0 var(--page-padding) 64px;
  }
}
